<div id="body">
  <div id="compass">
    <div id="rose">
      <div id="arrow">
      </div>
    </div>
  </div>
</div>

<div id="deets">
  <div class='inner'>
    <h2 class="pretname"></h2>
    <div class="dist">
    </div>

    <div class="info">
    </div>
    <span class='clear'><!-- clear --></span>
  </div>
</div>
