<div id="about">
  <a href="#" class='close'>x</a>
  <h1>Pretator</h1>
  <%= image_tag('gettothechocbar.jpg') %>
  <p>Pretator always points to the nearest open Prêt à Manger. It helps you GET TO THE CHOCBAR.</p>
  <p>Pretator updates the compass needle in real time. Currently, it's only been tested on iOS so far.</p>
  <p>This is all Jonty Wareing's fault.</p>
</div>
